WStestClient/web/WEB-INF/wsdl/localhost_8080/WStest/FirstWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSTest/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSTest/" name="FirstWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WSTest/" schemaLocation="http://localhost:8080/WStest/FirstWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getInfo">
<part name="parameters" element="tns:getInfo"/>
</message>
<message name="getInfoResponse">
<part name="parameters" element="tns:getInfoResponse"/>
</message>
<message name="Authen">
<part name="parameters" element="tns:Authen"/>
</message>
<message name="AuthenResponse">
<part name="parameters" element="tns:AuthenResponse"/>
</message>
<portType name="FirstWebService">
<operation name="hello">
<input wsam:Action="http://WSTest/FirstWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WSTest/FirstWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getInfo">
<input wsam:Action="http://WSTest/FirstWebService/getInfoRequest" message="tns:getInfo"/>
<output wsam:Action="http://WSTest/FirstWebService/getInfoResponse" message="tns:getInfoResponse"/>
</operation>
<operation name="Authen">
<input wsam:Action="http://WSTest/FirstWebService/AuthenRequest" message="tns:Authen"/>
<output wsam:Action="http://WSTest/FirstWebService/AuthenResponse" message="tns:AuthenResponse"/>
</operation>
</portType>
<binding name="FirstWebServicePortBinding" type="tns:FirstWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Authen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FirstWebService">
<port name="FirstWebServicePort" binding="tns:FirstWebServicePortBinding">
<soap:address location="http://localhost:8080/WStest/FirstWebService"/>
</port>
</service>
</definitions>